<header class="mb-3 border-bottom header">
    <div class="container p-3">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start mt-4">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none px-4">
          <i class="fa fa-paint-brush text-warning px-2"></i>
          <h1 class="text-light header-title mt-2 align="center">Art Historia</h1>
        </a>

       

      
      </div>
    </div>

  </header>
