<header class="mb-3 border-bottom header">
  <div class="container p-3">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start mt-4">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none px-4">
        <i class="fa fa-paint-brush text-warning px-2"></i>
        <h1 class="text-light header-title mt-2">Art Historia</h1>
      
      </a>

      <div class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="http://localhost:3000/" class="nav-link px-4 link-light">Home</a></li>
        <li><a href="http://localhost:3000/artists" class="nav-link px-4 link-light">Artists</a></li>
        <li><a href="http://localhost:3000/paintings" class="nav-link px-4 link-light">Paintings</a></li>
        
        
      </div> 

      <div class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" align="center">
      </div>
     
      <div class="dropdown text-end justify-content-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle text-warning" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-user-circle-o fa-1x text-warning px-2"></i>
               <%= username %>
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" id="logout" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="header-for-paintings-image mt-4 d-flex align-items-center justify-content-center">
      <h1 class="display-6 text-light">Paintings</h1>
  </div>
</header>
<script>
  $("#logout").click(function(){
    fetch("http://localhost:3000/logout")
    .then(response=> console.log(response))
    .then(data =>{
      window.location.href = "http://localhost:3000/"

    });
  })
</script>